<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' href="https://github.com/mv-front-angular" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:marcus.vinicius.frontend@gmail.com" target='_blank'>marcus.vinicius.frontend@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_andresjose", "footer", "click")' href="https://github.com/mv-front-angular" target="_blank" rel="nofollow noopener noreferrer">
            <div>🚀 · Built with Angular ·</div>
        </a>
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_brittany", "footer", "click")' href="https://mv-front-angular.github.io/portfolio/" target="_blank" rel="nofollow noopener noreferrer">
            <div class="mt-2">© 2025 Marcus  Vinícius · Desenvolvedor Front-end</div>
        </a>
    </div>

</footer>