<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>{{bannerData?.pretitle || 'Bem vindo! Meu nome é'}}</h1>
                </div>
                <div class='banner-title'>
                    <h2>Marcus Vinícius</h2>
                    <h3>Especialista em Front-end (Angular) | Tech Lead </h3>    
                </div>
                <div class='banner-description'>
                    <p [innerHTML]="bannerData?.description" class="mt-4"></p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' href="mailto:marcus.vinicius.frontend@gmail.com" target="_black" class="main-btn">
                    {{bannerData?.actionBtn || 'Entrar em contato'}}
                </a>
            </div>
        </div>
    </div>
</section>
